body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .product-date {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
  }
    
  
  .product-name {
    font-size: 20px;
    margin: 15px 0;
  }
  
  .product-description {
    font-size: 14px;
    color: #666;
  }
  
  .buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }